<!-- JUMBOTRON-->
 <div id="jumbotron" class="jumbotron jumbotron-fluid"> 
   <!--<div class="container">-->
      <h1 class="display-4">GROUP JAWR</h1>

<!--WORKER CARD-->
<div class="row">
  <div class="worker-card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">WORKER</h5> 
          <ul>
            <li><a href="#" class="card-link">SIGN IN</a></li>
            <li><a href="#" class="card-link">SET UP PROFILE</a></li>
          </ul>
      </div>
    </div>
  </div>

<!--CODER CARD-->
  <div class="row">
    <div class="coder-card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">CODER</h5>
          <ul>
            <li><a href="#" class="card-link">SIGN IN</a></li>
            <li><a href="#" class="card-link">FIND WORKERS</a></li>
            <li><a href="#" class="card-link">SET UP PROFILE</a></li>
          </ul>
      </div>
    </div>
  </div>
  
  <!--DONOR CARD-->
  <div class="row">
    <div class="donor-card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">DONOR</h5>
          <ul>
            <li><a href="#" class="card-link">FIND WORKER</a></li>
          </ul>
      </div>
    </div>
  </div>
      </div>
  
  
    </div>
  </div>

<!--BODY CONTAINER-->
  <div id="flex-container" class="container">
