<div id="header">
  <img id="logo-img" src="/assets/images/GroupJawr_Logo_B.png" alt="GROUP JAWR Logo">
</div>


<!--WORKER CONTAINER-->
<div class="container">
  <div id="worker-row" class="row">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-6">
        {{#each workers}}
        <div id="html-worker-cards" class="html-worker-cards">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRxFTfDWP1_UzRnpPSdI4Ue5ZZ-0uHLAuiJt-w5YtNjM2VMcZW0&usqp=CAU/200x200" class="card-img-top" alt="Profile Picture">
          <div class="card-body">
            <h5 class="card-title-wp">{{first_name}}</h5>
            <ul id="worker-list">
              <li><a href="#" class="card-link">Venmo</a></li>
              <li>Location: {{user_location}}</li>
              <li>Technology Needs:{{request}}</li>
              <li>Special Skills:{{skills}}</li>
            </ul>
            {{/each}}
  
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>