/* HOME PAGE */
h1 {
  text-align: center;
  font-family: 'Monoton', cursive;
  margin-bottom: 50px;
}

.card {
  margin: 10px auto; 
  float: none; 
  padding: 10px;
}

ul {
  list-style-type: none;
  text-align: center;
}


h5 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

/* WORKER PAGE */

.container {
  justify-content: center;
}
.worker-card {
  width: 400px;
  padding: 0 auto;
  margin: 20px 50px 50px 50px; 
  float: none; 
}

.card-body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

worker-list {
  list-style: none;
  text-align: center;
}



/* ======= */
h1 {
  text-align: center;
}

flex-container {
  align-content: center;
}
 .card-body{
  padding: 50px;

 }
ul {
  list-style-type: none;
}

li {
  text-align: center;
}

h5 {
  text-align: center;
}

card {
  text-align: center;
}



/* INPUT FORM PAGE */
.required
{
    color: red;
}
#profileImage
{
    cursor: pointer;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
